In [18]:
library(RPostgreSQL)
library(RUnit)
db <- dbConnect(PostgreSQL(), user= "trena", password="trena", dbname="hint-test", host="whovian")
db.hg38 <- dbConnect(PostgreSQL(), user= "trena", password="trena", dbname="hg38", host="whovian")

In [5]:
dbListTables(db)

[1] "hits"    "regions"

In [9]:
tbl.regions <- dbGetQuery(db, "select * from regions")
tbl.hits <- dbGetQuery(db, "select * from hits")

In [10]:
dim(tbl.regions)
dim(tbl.hits)

[1] 222660      4

[1] 504863     13

In [11]:
all(tbl.hits$loc %in% tbl.regions$loc)

[1] TRUE

In [12]:
head(tbl.regions)

  loc                   chrom start   stop
1 chr21:7132959-7132969 chr21 7132959 7132969
2 chr21:7380432-7380442 chr21 7380432 7380442
3 chr21:7385696-7385706 chr21 7385696 7385706
4 chr21:8466591-8466601 chr21 8466591 8466601
5 chr21:8700966-8700976 chr21 8700966 8700976
6 chr21:8770790-8770800 chr21 8770790 8770800

In [13]:
head(tbl.hits)

  loc                   type               name     strand sample_id   method
1 chr21:7132959-7132969 motif.in.footprint MA0002.2 -      ENCSR000DBY HINT
2 chr21:7380432-7380442 motif.in.footprint MA0002.2 +      ENCSR000DBY HINT
3 chr21:7385696-7385706 motif.in.footprint MA0002.2 -      ENCSR000DBY HINT
4 chr21:8466591-8466601 motif.in.footprint MA0002.2 -      ENCSR000DBY HINT
5 chr21:8700966-8700976 motif.in.footprint MA0002.2 -      ENCSR000DBY HINT
6 chr21:8770790-8770800 motif.in.footprint MA0002.2 +      ENCSR000DBY HINT
  provenance       score1 score2  score3   score4 score5 score6
1 corys.hint.minid  10    12.5345 2.54e-05 NA     NA     NA
2 corys.hint.minid   7    12.3448 3.04e-05 NA     NA     NA
3 corys.hint.minid  12    10.8103 9.42e-05 NA     NA     NA
4 corys.hint.minid 184    11.2241 7.16e-05 NA     NA     NA
5 corys.hint.minid   4    12.8621 1.85e-05 NA     NA     NA
6 corys.hint.minid  10    12.0862 3.83e-05 NA     NA     NA

In [17]:
fivenum(tbl.hits$score1)

[1]     2    12    23    57 71318

In [19]:
dbListTables(db.hg38)

[1] "gtf"         "motifsgenes" "footprints"

### APP is an AD-related gene on chr21.  look for motifs in footprints very nearby

In [20]:
goi <- "APP"

In [65]:
app.tss <- dbGetQuery(db.hg38, "select start from gtf where gene_name='APP' and moleculetype='gene'")[1,1]
p0 <- app.tss - 1200
p1 <- app.tss + 1200

In [66]:
query <- sprintf("select * from regions where start>=%d and start <= %d", p0, p1)

In [67]:
query

[1] "select * from regions where start>=25879350 and start <= 25881750"

In [68]:
dbGetQuery(db, query)

  loc                     chrom start    stop
1 chr21:25881624-25881638 chr21 25881624 25881638
2 chr21:25879515-25879523 chr21 25879515 25879523
3 chr21:25879510-25879519 chr21 25879510 25879519
4 chr21:25879513-25879523 chr21 25879513 25879523
5 chr21:25879839-25879847 chr21 25879839 25879847
6 chr21:25881750-25881759 chr21 25881750 25881759

In [52]:
dbGetQuery(db, "select * from hits where loc='chr21:25879839-25879847'")

  loc                     type               name     strand sample_id   method
1 chr21:25879839-25879847 motif.in.footprint MA0738.1 +      ENCSR000EJB HINT
  provenance       score1 score2  score3   score4 score5 score6
1 corys.hint.minid 13     11.5273 2.99e-05 NA     NA     NA